<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/logginn.css">
    <title>Sign up Page</title>
</head>
<body>
    <form action="/login" method="post">
        <h2>Sign up</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password" placeholder="Repeat Password" required>
        <% if (typeof message != "undefined") { %>
            <p><%= message %></p>
        <% } %>
        <input type="submit" value="Sign up">
        <a href="/logginn" id="lbut">Logg inn</a>
    </form>
</body>
</html>
